
.header_outer_container{
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    color: white;
    transition: all 0.5%;
    transition-timing-function:ease-in;
    z-index: 1;
    background-color: red;
     background-color: transparent; 
    
}
.Nav-blank{
    background-color: rgb(20,20,20);
}
.header_container{
    width:90% ;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.header_left ul{
    width: 140%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    cursor: pointer;
    
}

.header_right ul{
    width: 150%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    cursor: pointer;

} 